* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
	--primary-color: rgb(161, 161, 161);
}

main {
	padding: 0.5rem 2rem;
	max-width: 1000px;
	margin: 0 auto;
}

input {
	border: none;
}

.add-names {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	background-color: rgb(219, 220, 220);
}

#name,
.add-btn {
	border-radius: 0.3rem;
	padding: 0.4rem 1rem;
	font-size: 1.1rem;
	background-color: black;
	color: white;
	border: none;
}

.add-btn:hover {
	background-color: rgb(86, 86, 86);
}

.save-btn,
.delete-btn {
	border-radius: 0.3rem;
	padding: 0.2rem 0.5rem;
	font-size: 0.9rem;
	background-color: transparent;
}

.save-btn {
	border: 2px solid green;
	color: green;
}

.delete-btn {
	border: 2px solid #c80303;
	color: #c80303;
}

.desabled-save-btn {
	border-radius: 0.3rem;
	padding: 0.2rem 0.5rem;
	font-size: 0.9rem;
	background-color: transparent;
	opacity: 0.2;
}

.desabled-save-btn:hover {
	background-color: transparent;
}

#name {
	background-color: var(--primary-color);
}

.name-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 0.4rem 1rem;
	border-bottom: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.name-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
